<h1><%= @fixture.name %></h1>
<div>
  <%= link_to 'Home', home_path %>
  <%= ' > ' %>
  <%= link_to I18n.t('activerecord.models.competition_series'), competition_series_list_path %>
  <%= ' > ' %>
  <%= link_to @fixture.competition_series.name, competition_series_path(@fixture.competition_series) %>
  <%= ' > ' %>
  <%= link_to @fixture.competition.name, competition_path(@fixture.competition) %>
  <%= " > #{@fixture.name}" %>
<div>
<ul>
    <% @fixture.matches.order(:kickoff_at).each do |match| %>
        <li>
            <a href="/matches/<%= match.id %>">
                <p><%= match.home_team.short_name %> v. <%= match.away_team.short_name %></p>
            </a>
        </li>
    <% end %>
</ul>
