<h1><%= @competition.name %></h1>
<ul>
    <li>
        <a href="/competitions/<%= @competition.id %>/fixtures">
            <p><%= I18n.t('pages.fixtures.title') %></p>
        </a>
    </li>
    <li>
        <a href="/competitions/<%= @competition.id %>/results">
            <p><%= I18n.t('pages.results.title') %></p>
        </a>
    </li>
    <li>
        <a href="/competitions/<%= @competition.id %>/statistics">
            <p><%= I18n.t('pages.statistics.title') %></p>
        </a>
    </li>
</ul>
