<h1><%= I18n.t('pages.results.title') %></h1>
<div>
  <%= link_to 'Home', home_path %>
  <%= ' > ' %>
  <%= link_to I18n.t('activerecord.models.competition_series'), competition_series_list_path %>
  <%= ' > ' %>
  <%= link_to @competition.series.name, competition_series_path(@competition.series) %>
  <%= ' > ' %>
  <%= link_to @competition.name, competition_path(@competition) %>
  <%= " > #{I18n.t('pages.results.title')}" %>
<div>
<% if @winner.present? %>
    <p> <%= @winner.name %> 優勝おめでとうございます！</p>
<% end %>
<ul>
    <% @competition.stages.each do |stage| %>
        <li>
            <% if @competition.stages.count > 1%>
                <%= stage.name %>
            <% end %>
            <% if stage.is_a?(LeagueStage) %>
                <ul>
                    <% stage.groups.each do |group| %>
                        <li>
                            <%= group.name %>
                            <ol>
                                <% group.standings.each do |team| %>
                                    <li>
                                        <%= team.name %>
                                    </li>
                                <% end %>
                                <% if @points_transitions %>
                                    <%= react_component("TeamStatisticsGraph", { statistics: @points_transitions[group] }) %>
                                <% end %>
                            </ol>
                        </li>
                    <% end %>
                </ul>
            <% else %>
                <ul>
                    <% stage.rounds.each do |round| %>
                        <li>
                            <%= round.name %>
                            <ul>
                                <% round.winners.each do |team| %>
                                    <li>
                                        <%= team.name %>
                                    </li>
                                <% end %>
                            </ul>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        </li>
    <% end %>
</ul>
