<h1><%= @competition_series.name %></h1>
<div>
  <%= link_to 'Home', home_path %>
  <%= ' > ' %>
  <%= link_to I18n.t('activerecord.models.competition_series'), competition_series_list_path %>
  <%= " > #{@competition_series.name}"%>
<div>
<ul>
    <% @competition_series.iterations.order(:start_year).each do |iteration| %>
        <li>
            <a href="/competitions/<%= iteration.id %>">
            <p>
                <%= iteration.name %>
            </p>
        </li>
    <% end %>
</ul>
