<h1>Match</h1>
<p>
    <%= @match.home_team.name %> <%= @match.display_score %> <%= @match.away_team.name %>
</p>
<p>
    <%= @match.kickoff_at.strftime('%Y年%m月%d日（%a）%H:%M') %>
</p>
<p>
    <%= @match.stadium.name %>
</p>
